mujoco==3.3.1
ray==2.44.1
mediapy==1.2.2
imageio==2.37.0
pyswarms==1.3.0
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
torchvision==0.20.1+cu121
pyswarms==1.3.0
mujoco==3.3.1
ruff==0.11.5
loguru==0.7.3
tensorboard==2.19.0
numba==0.61.2
tensorboard==2.19.0
opencv-python==4.11.0.86